body {
  margin: 0;
  padding: 0;
  background-color: #05161a;
  background-image: none;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main {
  padding-top: 90px;
}
main ul {
  padding: 0 90px 90px 90px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}
main ul li {
  margin: 0;
  transform: skew(14deg);
}
main .container {
  width: 170px;
  height: 300px;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid;
}
ul p {
  position: relative;
  z-index: 2;
  margin: 0;
  color: white;
  left: 0px;
  text-align: center;
  font-weight: bold;
  transform: skew(-14deg);
  border-radius: 20px;
  width: 95%;
  text-shadow: 1px 1px 2px white;
}
ul img {
  transform: skew(-14deg) scaleX(1.6);
  width: 100%;
  height: 100%;
}
li.emperor .container {
  width: 200px;
  height: 350px;
  margin-right: 10px;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 3.5em;
}
li.emperor p {
  font-size: 2em;
  transform: rotate(76deg) scaleX(1.4) skewy(19deg);
  left: -88px;
  top: 200px;
}
li.shanks p,
h1.shanks,
ul.shanks {
  color: red;
  border-color: red;
}
li.blackbeard p,
h1.blackbeard,
ul.blackbeard {
  color: black;
}
li.luffy p,
h1.luffy,
ul.luffy {
  color: yellow;
}
li.buggy p,
h1.buggy,
ul.buggy {
  color: rgb(0, 54, 108);
}
ul li {
  filter: grayscale(100);
}
h1.emphead h1 {
  filter: grayscale(0);
}
ul li:hover {
  filter: grayscale(0);
  transform: scale(1.2) skew(14deg);
  transition: transform 0.2s ease, filter 0.2s ease;
  z-index: 2;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .emperor-container .jollyroger {
    max-width: 200px;
  }
  .emp-crew li {
    height: 240px;
    width: 250px;
  }
  .former-emp h2 {
    font-size: 3em;
  }
  .emp-crew li:hover,
  li.emperor:hover {
    margin: 0 10px;
    transform: skew(14deg) scale(1.2);
  }
}
@media (max-width: 480px) {
  .emperors h1 {
    font-size: 2.5em;
  }
  .emp-crew li {
    height: 80%;
  }
  .emperor-container li.jollyroger {
    max-width: 150px;
  }
  .emperor-container li.emperor {
    max-width: 170px;
  }
  .emp-crew ul {
    padding: 0;
  }
  .former-emp h2 {
    font-size: 2em;
  }
  .emp-crew li:hover,
  li.emperor:hover {
    transform: skew(0deg) scale(1.1);
  }
}

body.marine-army {
  display: flex;
  overflow-x: hidden;
}
main.marines {
  width: 85%;
}
.marines h1,
.marines p {
  width: 100%;
  color: #00c9cd;
}
.marines .container {
  border: 2px solid #00c9cd;
}

.banner {
  width: 15%;
  height: 100%;
}
.flag {
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 100%;
  height: 4000px;
  background-color: #3887be;
  position: relative;
  z-index: -2;
}
.flag p {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size: 4em;
  font-weight: bold;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid #05161a;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.marines ul.fleet-admiral li {
  margin: 0 30px;
}
.marines li.smaller .container{
  height: 280px;
}
p.smaller{
  color: #00cacd34;
  text-shadow: none;
}
main.marines ul.fleet-admiral li:hover {
  margin: 0 30px;
}

.warlords h1 {
  color: purple;
}

.warlords .container {
  border: 2px solid purple;
}
.warlords p {
  transform: skew(-14deg);
  color: purple;
  text-align: center;
}

h1.ra-head {
  color: red;
  margin: 25px 0;
}
h1.army {
  color: rgb(194, 32, 0);
}
h1.dep {
  color: rgb(108, 40, 0);
}
h1.mem {
  color: rgb(50, 11, 11);
}
.rev-armys p {
  transform: skew(-14deg);
  color: red;
  text-align: center;
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

ul.rev-leaders li .container {
  width: 250px;
  height: 350px;
  margin: 0 20px;
}

.worldldrs p,
h1 {
  color: gold;
}
.worldldrs ul {
  padding-bottom: 40px;
}
.worldldrs ul.elders {
  padding-bottom: 90px;
}

/* body.worldgvt {
  margin: 0;
  padding: 0;
  background-color: #05161a;
  display: flex;
}
.oraniazation {
  background: none;
}
main.worldgvt {
  background-image: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  margin-top: 200px;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.box {
  background-color: aqua;
  width: 35%;
  height: 300px;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease;
}
.oranization .row a {
  color: black;
  text-decoration: none;
}
.oranization .row a h1 {
  margin: 10px 0;
  font-size: 3em;
  background-color: rgba(3, 70, 70, 0.396);
  width: 100%;
}
.worldleaders {
  background-image: url(orgimg/wrldldrs.jpg);
}
.gvt-marines {
  background-image: url(img/marines.webp);
}
.box:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .box {
    width: 80%;
    height: 250px;
  }

  .organization .row a h1 {
    font-size: 2.5em;
  }

  main.worldgvt {
    margin-top: 25%;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
    height: 200px;
  }

  .organization .row a h1 {
    font-size: 2em;
  }

  main.worldgvt {
    margin-top: 30px;
  }
} */

/* .world-gov ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.warlord ul.elders {
  padding-bottom: 40px;
}
.world-gov li {
  text-align: center;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.world-gov .container {
  width: 170px;
  height: 350px;
  background-color: black;
  position: relative;
  transform: skew(14deg);
  overflow: hidden;
  border: 2px solid #ffd700;
}

.world-gov img {
  transform: skew(-14deg);
  translate: -40px;
  width: 150%;
  height: 100%;
  filter: grayscale(100);
}
.world-gov h1 {
  padding-left: 76px;
  font-size: 20px;
  width: 90px;
}

.imu .container {
  width: 250px;
  height: 300px;
  transform: skew(0deg);
}
.imu .container img {
  transform: skew(0deg);
  translate: -50px;
}
.imu h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  padding-left: 80px;
}
.imu h2 {
  margin: 0;
}
.world-gov p {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
.world-gov img:hover {
  filter: grayscale(0);
}
.warlord li:hover {
  margin: 0 20px;
  transform: scale(1.2);
  transition: transform 0.4s ease, filter 0.4s ease;
} */
.back-button a {
  border: 1px solid white;
  top: 5px;
  margin: 5px;
  width: 40px;
  height: 42px;
  padding-right: 2px;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  text-decoration: none;
  text-align: center;
  border-radius: 60px;
  display: inline-block;
  background-color: #ffffff5c;
  color: #fff;
  z-index: 5;
}
